<h1>Salut</h1>
{# commentaire twig
-Dans unfichier twig one ne met pas de balsie php depour afficher une valeur on utilise {{Valeur}} =>equivalent en php de <?= $valeur ?>
-Les variables s'&crivent sans le $
#}
<h2>Bonjour  {{ prenom }}   </h2>